body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    display: grid;
    justify-items: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}


