body{
    background-color:gray;
}
h2{
    color:magenta;
}
/* strong{
    color:darkred;
} */
mark{
    background-color:teal;
}
img{
    width: 250px; height: 250px;
}

a{
    color: teal;
}

/* Class selector */
.teal-text {
    color: darkred;
}

/* ID selector */
#large-text {
    font-size: 30px;
}

