body{
    background-color:black;
}
h1{
    color:white;
}
h2{
    color:gray;
}
p{
    color:white;
}
strong{
    color:red;
}
mark{
    color:red;
}
img{
    width: 250px;; height: 250px;;
}
del{
    color: white;
}
em{
    color: white;
}



